// 購物車明細
.cart-item{
    @include md{
        border-bottom: 1px solid $secondary;
    }
    .cart-item-prepend{
        border-bottom: 1px solid $secondary;
        @include md{
            border: none;
        }
    }
    .cart-item-append{
        border-bottom: 1px solid $secondary;
        @include md{
            border: none;
        }
    }
}