// 訂單摘要
.cart-detail-dark{
    .cart-detail-dark-title{
        color: $primary;
        background: $secondary;
        border: none;
    }
    @include md{
        background: $primary;
        .cart-detail-dark-title{
            color: $secondary;
            background: none;
        }
        .cart-detail-dark-table{
            border-top: 1px solid $secondary;
        }
        .cart-detail-dark-tr{
            color: $secondary;
        }
    }
}